/* CSS Document */
.head {
  width: 100%; }
  .head .header {
    width: 95%;
    max-width: 1780px;
    height: 142px;
    margin: 0 auto; }
    @media (min-width: 1800px) {
      .head .header {
        max-width: 1665px;
        margin-left: 4.6875%;
        height: 134px; } }
    @media (max-width: 1200px) {
      .head .header {
        width: 90%; } }
    @media (max-width: 768px) {
      .head .header {
        height: 80px; } }
    .head .header .header_logo {
      width: 215px; }
      .head .header .header_logo h1 {
        width: 100%; }
        .head .header .header_logo h1 span {
          display: none; }
        .head .header .header_logo h1 img {
          width: 215px; }
          @media (max-width: 1300px) {
            .head .header .header_logo h1 img {
              width: 160px; } }
    .head .header .header_mobile {
      display: none; }
      @media (max-width: 1180px) {
        .head .header .header_mobile {
          display: block; }
          .head .header .header_mobile a {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 26px; }
            .head .header .header_mobile a span {
              position: absolute;
              display: block;
              width: 30px;
              height: 3px;
              background-color: #000;
              opacity: 1;
              transition: All 0.3s ease-in-out;
              -webkit-transition: All 0.3s ease-in-out;
              -moz-transition: All 0.3s ease-in-out;
              -o-transition: All 0.3s ease-in-out; }
            .head .header .header_mobile a .header_mobile_bt1 {
              top: 0; }
            .head .header .header_mobile a .header_mobile_bt2 {
              top: 12px; }
            .head .header .header_mobile a .header_mobile_bt3 {
              bottom: 0px; }
            .head .header .header_mobile a .header_mobile_bt11 {
              top: 10px;
              transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
              -o-transform: rotate(-45deg); }
            .head .header .header_mobile a .header_mobile_bt22 {
              opacity: 0; }
            .head .header .header_mobile a .header_mobile_bt33 {
              bottom: 13px;
              transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              -o-transform: rotate(45deg); } }
    @media (max-width: 1180px) {
      .head .header .header_nav {
        display: none; } }
    .head .header .header_nav .nav {
      border-right: 2px solid #d8ceba;
      text-transform: uppercase; }
      .head .header .header_nav .nav ul {
        height: 74px; }
        .head .header .header_nav .nav ul li a {
          display: inline-block;
          margin: 0px 38px;
          line-height: 44px;
          font-family: "GillSans";
          color: #3d2600;
          font-size: 18px;
          position: relative;
          font-weight: bold;
          letter-spacing: 1px;
          color: #3d2600; }
          @media (max-width: 1660px) {
            .head .header .header_nav .nav ul li a {
              margin: 0 25px; } }
          @media (max-width: 1480px) {
            .head .header .header_nav .nav ul li a {
              margin: 0 15px; } }
          @media (max-width: 1300px) {
            .head .header .header_nav .nav ul li a {
              font-size: 17px; } }
          .head .header .header_nav .nav ul li a:before {
            content: "";
            position: absolute;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: #faa61a;
            transition: All 0.3s ease-in-out;
            -webkit-transition: All 0.3s ease-in-out;
            -moz-transition: All 0.3s ease-in-out;
            -o-transition: All 0.3s ease-in-out; }
        .head .header .header_nav .nav ul li:hover a:before {
          width: 100%; }
        .head .header .header_nav .nav ul li .active {
          border-bottom: 2px solid #faa61a; }
    .head .header .header_nav .translate {
      margin-right: 5px; }
      @media (max-width: 1800px) {
        .head .header .header_nav .translate {
          margin-right: 0; } }
      .head .header .header_nav .translate ul {
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center; }
        .head .header .header_nav .translate ul li a {
          display: inline-block;
          text-align: center; }
          .head .header .header_nav .translate ul li a .iconfont {
            font-size: 30px;
            color: #a1a1a1;
            transition: All 0.3s ease-in-out;
            -webkit-transition: All 0.3s ease-in-out;
            -moz-transition: All 0.3s ease-in-out;
            -o-transition: All 0.3s ease-in-out; }
          .head .header .header_nav .translate ul li a span {
            display: block;
            padding-top: 10px;
            color: #a1a1a1;
            transition: All 0.3s ease-in-out;
            -webkit-transition: All 0.3s ease-in-out;
            -moz-transition: All 0.3s ease-in-out;
            -o-transition: All 0.3s ease-in-out;
            font-size: 12px;
            font-family: "GillSans"; }
        .head .header .header_nav .translate ul li:hover a .iconfont {
          color: #faa61a; }
        .head .header .header_nav .translate ul li:hover a span {
          color: #faa61a; }
        .head .header .header_nav .translate ul li .translate_left {
          margin-left: 60px; }
          @media (max-width: 1800px) {
            .head .header .header_nav .translate ul li .translate_left {
              margin-left: 55px; } }
          @media (max-width: 1660px) {
            .head .header .header_nav .translate ul li .translate_left {
              margin-left: 45px; } }
          @media (max-width: 1480px) {
            .head .header .header_nav .translate ul li .translate_left {
              margin-left: 20px; } }
        .head .header .header_nav .translate ul li .translate_right {
          margin-left: 74px; }
          @media (max-width: 1800px) {
            .head .header .header_nav .translate ul li .translate_right {
              margin-left: 68px; } }
          @media (max-width: 1660px) {
            .head .header .header_nav .translate ul li .translate_right {
              margin-left: 55px; } }
          @media (max-width: 1480px) {
            .head .header .header_nav .translate ul li .translate_right {
              margin-left: 30px; } }

.mobile_nav {
  display: none; }
  @media (max-width: 1180px) {
    .mobile_nav {
      display: block;
      width: 100%;
      height: calc(100% - 80px); }
      .mobile_nav .nav {
        width: 183px;
        margin: 0 auto;
        display: none; } }
    @media (max-width: 1180px) and (max-width: 1180px) {
      .mobile_nav .nav {
        display: block; } }
  @media (max-width: 1180px) {
        .mobile_nav .nav ul li {
          margin: 0 auto;
          text-align: center; }
          .mobile_nav .nav ul li a {
            display: inline-block;
            line-height: 45px;
            text-align: center;
            font-family: "GillSans";
            color: #3d2600;
            font-size: 19.2px;
            position: relative;
            font-weight: bold; }
            .mobile_nav .nav ul li a:before {
              content: "";
              position: absolute;
              bottom: -2px;
              width: 0;
              height: 2px;
              background-color: #faa61a;
              transition: All 0.3s ease-in-out;
              -webkit-transition: All 0.3s ease-in-out;
              -moz-transition: All 0.3s ease-in-out;
              -o-transition: All 0.3s ease-in-out; }
            .mobile_nav .nav ul li a:hover:before {
              width: 100%; }
      .mobile_nav .translate {
        width: 183px; }
        .mobile_nav .translate ul {
          margin-top: 15px; }
          .mobile_nav .translate ul li a {
            text-align: center; }
            .mobile_nav .translate ul li a .iconfont {
              text-align: center;
              font-size: 26px;
              color: #a1a1a1;
              transition: All 0.3s ease-in-out;
              -webkit-transition: All 0.3s ease-in-out;
              -moz-transition: All 0.3s ease-in-out;
              -o-transition: All 0.3s ease-in-out; }
            .mobile_nav .translate ul li a span {
              display: block;
              margin-top: -10px;
              font-family: "Gill Sans";
              font-size: 12px;
              color: #a1a1a1;
              transition: All 0.3s ease-in-out;
              -webkit-transition: All 0.3s ease-in-out;
              -moz-transition: All 0.3s ease-in-out;
              -o-transition: All 0.3s ease-in-out; }
            .mobile_nav .translate ul li a:hover .iconfont {
              color: #faa61a; }
            .mobile_nav .translate ul li a:hover span {
              color: #faa61a; } }

.banner_max {
  width: 100%;
  height: auto; }
  .banner_max .banner_img {
    display: block;
    width: 100%; }
    @media (max-width: 768px) {
      .banner_max .banner_img {
        display: none; } }
    .banner_max .banner_img img {
      width: 100%;
      height: auto; }
  .banner_max .banner_img_mobile {
    display: none; }
    @media (max-width: 768px) {
      .banner_max .banner_img_mobile {
        display: block;
        width: 100%;
        height: 350px;
        position: relative; }
        .banner_max .banner_img_mobile .banner_img_mobile_img {
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: url(../images/banner1.jpg);
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat; } }
  .banner_max .text_box {
    position: absolute;
    z-index: 2;
    width: 75%;
    height: 60%;
    max-height: 310px;
    top: 36%;
    left: 7.4%;
    max-width: 845px; }
    @media (max-width: 1800px) {
      .banner_max .text_box {
        max-width: 790px;
        max-height: 293px; } }
    @media (max-width: 1200px) {
      .banner_max .text_box {
        max-width: 700px;
        height: 50%; } }
    .banner_max .text_box .text_box_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 3;
      /* Safari */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-box-align: center;
      /* Safari */
      -ms-flex-align: center; }
      .banner_max .text_box .text_box_bg .bg-y {
        width: 36.700000000000003%;
        max-width: 310px;
        height: 100%;
        background-color: #e79a1b;
        top: 0; }
      .banner_max .text_box .text_box_bg .bg-w {
        width: calc(63.399999999999999%);
        max-width: 535px;
        height: 100%;
        background-color: #f5f3f2; }
    .banner_max .text_box .text_box_title {
      position: relative;
      top: 0;
      z-index: 4;
      height: 100%;
      overflow: hidden;
      /* Safari */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      /* Safari */
      -webkit-box-pack: center;
      /* Safari */
      -ms-flex-pack: center; }
      .banner_max .text_box .text_box_title h2 {
        width: calc(100% - 5%);
        font-size: 49px;
        font-family: "coolveticarg-regular";
        font-weight: normal;
        line-height: 60px;
        padding-top: 13px;
        margin-left: 5%;
        text-transform: uppercase;
        letter-spacing: 2px; }
        @media (max-width: 1800px) {
          .banner_max .text_box .text_box_title h2 {
            font-size: 46px; } }
        @media (max-width: 1200px) {
          .banner_max .text_box .text_box_title h2 {
            font-size: 35px;
            padding-top: 0;
            line-height: 45px; } }
        @media (max-width: 710px) {
          .banner_max .text_box .text_box_title h2 {
            font-size: 24px;
            line-height: 30px; } }
        @media (max-width: 470px) {
          .banner_max .text_box .text_box_title h2 {
            font-size: 20px;
            line-height: 26px; } }
      .banner_max .text_box .text_box_title a {
        display: inline-block;
        width: 86px;
        line-height: 35px;
        font-family: "GillSans";
        font-size: 15px;
        color: #000000;
        border-bottom: 2px solid #000000;
        margin-left: 5%;
        transition: All 0.3s ease-in-out;
        -webkit-transition: All 0.3s ease-in-out;
        -moz-transition: All 0.3s ease-in-out;
        -o-transition: All 0.3s ease-in-out;
        padding-top: 20px;
        font-weight: 600; }
        @media (max-width: 1800px) {
          .banner_max .text_box .text_box_title a {
            font-size: 14px;
            width: 80px; } }
        @media (max-width: 1200px) {
          .banner_max .text_box .text_box_title a {
            padding-top: 0; } }
        @media (max-width: 470px) {
          .banner_max .text_box .text_box_title a {
            line-height: 25px; } }
        .banner_max .text_box .text_box_title a:hover {
          color: #ffffff;
          border-bottom: 2px solid #ffffff; }

/*# sourceMappingURL=header.css.map */